@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Sistema de ventas de Bienes Inmuebles</h1>

<div id="carouselExample" class="carousel slide">
    <img src="../../4288663.jpg" class="img-fluid" alt="imagen ilustrativa">
</div>


