@page "/Cliente/AltaCliente"
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

<h2>Alta Cliente</h2>

<EditForm Model = "@nuevoCliente">

    <div class="row g-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" @bind = "nuevoCliente.Nombre_cliente">
      </div>
      <div class="col-md-6">
            <label for="inputAddress" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" @bind = "nuevoCliente.Dir_cliente">
      </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="inputEmail4" @bind = "nuevoCliente.Correo_cliente">
        </div>
        <div class="col-md-6">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="number" class="form-control" id="telefono" @bind = "nuevoCliente.Telefono_cliente">
        </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success" @onclick="CreateCliente">Crear Cliente</button>
            <button type="submit" class="btn btn-primary" @onclick="Cancelar">Cancelar</button>
      </div>
    </div>
</EditForm>





@code {
    private int id { get; set; }
    private clientSwagger.Cliente nuevoCliente = new clientSwagger.Cliente();
    private clientSwagger.clientSwagger client = new clientSwagger.clientSwagger("https://localhost:7260/", new HttpClient());

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            nuevoCliente = await client.Cliente2Async(id);
        }
    }

    protected async Task CreateCliente()
    {
        await client.ClienteAsync(nuevoCliente);
        NavigationManager.NavigateTo("/Cliente");
    }

    protected void Cancelar ()
    {
        NavigationManager.NavigateTo("/Cliente");
    }
}
