@page "/Condicion"
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks


<div class="container text-center">
    <div class="row">
        <div class="row justify-content-md-center">
            <div class="col-8"><h1>Condición</h1></div>
            <div class="col-4">
                <button class="bbtn btn-warning" @onclick="AltaCondicion"><i class="bi bi-person-plus-fill"></i>Alta Condición</button>
            </div>

        </div>
    </div>
</div>


@if (listaCondicion == null)
{
    <p>No hay elementos para mostrar.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción condición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var condicion in listaCondicion)
            {
                <tr>
                    <td>@condicion.Id_condicion</td>
                    <td>@condicion.Desc_condicion</td>
                    <td>
                        <button type="button" class="btn btn-outline-success"
                            @onclick = "() => Editar(condicion.Id_condicion)"><i class="bi bi-pencil-fill"></i>
                        </button> |
                        <button type="button" class="btn btn-outline-danger"
                         @onclick = "() => Eliminar(condicion.Id_condicion)"><i class="bi bi-trash-fill"></i>
                        </button>
                    </td>

                </tr>
            }

        </tbody>
    </table>
}


@code {
    void AltaCondicion()
    {
        NavigationManager.NavigateTo("/Condicion/AltaCondicion");
    }

    private ICollection<clientSwagger.Condicion> listaCondicion;
    private clientSwagger.clientSwagger client = new clientSwagger.clientSwagger("https://localhost:7260/", new HttpClient());

    private async Task Refresh()
    {
        listaCondicion = await client.CondicionAllAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    void Editar(int id)
    {
        NavigationManager.NavigateTo($"/Condicion/EditarCondicion/{id}");
    }

    void Eliminar(int id)
    {
        NavigationManager.NavigateTo($"/Condicion/EliminarCondicion/{id}");
    }
}