@page "/Inmueble/EliminarInmueble/{id:int}"
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

<h2>Eliminar Inmueble</h2>

<EditForm Model="@inmuebleDelete">

    <div class="row g-3">
        <div class="col-12">
            <h3>¿Está seguro que desea eliminar...</h3>
        </div>
        <div class="col-md-6">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id" readonly @bind="inmuebleDelete.Id_Inmueble">
        </div>

        <div class="col-md-6">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" readonly @bind="inmuebleDelete.Desc_inmueble">
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-danger" @onclick="DeleteInmueble">Eliminar</button>
            <button type="submit" class="btn btn-primary" @onclick="Cancelar">Cancelar</button>
        </div>
    </div>
</EditForm>



@code {
    [Parameter]
    public int id { get; set; }

    private clientSwagger.Inmueble inmuebleDelete = new clientSwagger.Inmueble();
    private clientSwagger.clientSwagger client = new clientSwagger.clientSwagger("https://localhost:7260/", new HttpClient());

    private ICollection<clientSwagger.Tipo_Inmueble> listTipoInmueble;

    
    protected override async Task OnInitializedAsync()
    {
        inmuebleDelete = await client.Inmueble2Async(id);
        listTipoInmueble = await client.TipoInmuebleAllAsync();
        await Task.Delay(1000);
    }

    protected async Task DeleteInmueble()
    {
        await client.Inmueble4Async(id);
        NavigationManager.NavigateTo("/Inmueble");
    }

    protected void Cancelar()
    {
        NavigationManager.NavigateTo("/Inmueble");
    }
}
